/* Cards */
.cards .swiper-button-next,
.cards .swiper-button-prev,
.cards-autoplay .swiper-button-next,
.cards-autoplay .swiper-button-prev {
  color: var(--bs-link-color);
}

.cards .swiper-pagination-bullet,
.cards-autoplay .swiper-pagination-bullet {
  background: var(--bs-body-color);
}

.cards .swiper-pagination-bullet-active,
.cards-autoplay .swiper-pagination-bullet-active {
  background: var(--bs-link-color);
}


/* Heroes */
.heroes .swiper-button-next,
.heroes .swiper-button-prev,
.heroes-fade .swiper-button-next,
.heroes-fade .swiper-button-prev {
  color: var(--bs-white);
}

.heroes .swiper-pagination-bullet,
.heroes .swiper-pagination-bullet-active,
.heroes-fade .swiper-pagination-bullet,
.heroes-fade .swiper-pagination-bullet-active {
  background: var(--bs-white);
}

.heroes .tags-heading,
.heroes-fade .tags-heading {
  display: none;
}

.heroes .tags-links,
.heroes-fade .tags-links {
  margin-top: 1rem;
}
